*{
  margin: 0;
  padding: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #3a3a3a;

}

div{
  display: block;
}

ul,ol{
  list-style: none;
  padding: 0;
  margin: 0;
}

li{
  list-style: none; 
  padding: 0;
  margin: 0;
}

img {
  border-style: none;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

body{
  font-family: "Avenir Next",a-otf-gothic-bbb-pr6n,YuGothic,Yu Gothic,sans-serif;
}

/* ====================== */
/* 【スマホ画面用】 */

html{
  width: 100%;

}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}


// ===============================
// HOMEページ
.home-wrap{
  max-width: 375px;
  margin: auto;
  position: relative;
}

.home-header{
  height: 25px;
  padding: 20px;
  font-size: 23px;
  background: white;
  transition: background 0.3s;
  border-bottom: 1px solid #ebebeb;
}

// header active
.home-header.home-header-active{
  background: #3a3a3a;
  transition: background 0.3s;
}


.home-header-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
}

.home-header-logo{
  text-align: left;
}

.home-header-logo span{
  width: 132px;
  height: 25px;
  color: #3a3a3a;
}

.home-header-active span{
  color: white;
  transition: color 0.3s;
}


.home-header-menuTrigger{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 16px;
}

.home-header button{
  background: white;
  transition: background 0.3s;
}

.home-header-active button{
  background: #3a3a3a;
  transition: background 0.3s;
  color: white;
}

.home-header.home-header-active {
  background: #3a3a3a;
  transition: background 0.3s;
}

.home-header-menuTrigger div{
  width: 16px;
  position: relative;
  margin-left: 24px;
}

.home-main {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  justify-content: space-between;
  margin: 148px auto 0 auto;
}

.home-btn {
  width: 120px;
  height: 120px;
  background: #3a3a3a;
  border: solid #3a3a3a 1px;
  color: #fff;
  border-radius: 17px;
  margin: 0 0 3px 0;
  font-size: 18px;
}

.home-btn p {
  font-size: 13px;
}

.home-btn_dev{
  width: 120px;
  height: 120px;
  background: #3a3a3a;
  border: solid #3a3a3a 1px;
  color: #fff;
  border-radius: 17px;
  margin: 0 0 3px 0;
  font-size: 18px;
  opacity: 0.3;
}

// =========================
// Looking Forward Flavorページ

.header_contents_wrapper{
  display: flex;

}
header.contents_header {
  height: 72px;
  position: relative;
  top: 0;
  padding-top: 24px;
  box-sizing: border-box;
  transition: all .3s;
  width: 100%;
}

.contents_title span {
  display: block;
  font-size: 18px;
  padding: 8px;
  margin: 0px 0px 0px 9px;
  max-width: calc(100% - 12px);
  background: #a8dee6;
  color: #111111;
}

h1.contents_title {
  line-height: 23px;
  height: 23px;
  text-align: left;
  padding-left: 20px;
}

.contents_headerbtn {
  position: absolute;
  top: 21px;
  right: 20px;
  width: 16px;
  height: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
  border: none;
  font-size: 30px;
  background: #fff;
}

.style_wrap_intro{
  padding: 31px 20px 0;
  margin: auto auto 24px;
  max-width: 375px;
}

.style_topImage{
  text-align: center;
  margin-bottom: 8px;
}

.style_topImage img{
  width: 60px;
  height: 60px;
}

.style_title{
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 16px;
}

.style_description{
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;

}

.style_description span{
  color: #EE82EE;
  font-weight: 700;
}

.style_wrap_search{
  margin: auto auto 15px;
  border-bottom: 1px solid #ebedee;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
}
.search_btn_filter{
  border-color: #EE82EE;
  margin: auto;
  background: #fff;
}

.search_btn_wrap{
  padding: 20px 20px 0;
  max-width: 375px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto auto 12px;
}

.search_btn_how,.search_btn_filter{ 
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
  border: 1px solid #7d8b93;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 9px;
  padding: 16px 0;
}

.search_btn_how img,.search_btn_filter img{ 
  width: 16px;
  height: 16px;
  margin-right: 6px;
  content: '●';
}

.search_btn_how span,.search_btn_filter span{ 
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #7d8b93;
}

.search_btn_filter span{
  color: #fff;
}

.search_btn_filter{
  border-color: #3a3a3a;
  background: #3a3a3a;
  margin: auto;
}

.style_count{
  padding: 0 20px 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #bdc4c8;
  max-width: 375px;
  margin: auto;
}

.ul_count{
  margin: 0;
  padding: 0;
  list-style: none;
}

.style_wraper_content {
  margin-bottom: 15px;
  max-width: 375px;
}
.content_main {
  display: flex;
  border: 1px solid #ebedee;
  box-sizing: border-box;
  border-radius: 7px;
  height: 82px;
  overflow: hidden;
}

.style_img {
  height: 100%;
  width: 23%;
  position: relative;
}

.style_img img{
  margin: 17px 0 0 18px;
  width: 46px;
  object-fit: contain;
  height: 46px;
  object-position: center 21%;
}
.style_img_textwrap{
  width: 100%;
  height: 88px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg,rgba(17,30,38,0),rgba(17,30,38,.6) 237%);
}

.style_img_text{
  position: absolute;
  color: #f8f9f9;
  left: 20px;
  bottom: 8px;
}

.style_flavor_text {
  width: 70%;
  margin: 4px 4px 4px 4px;
}

.style_flavor_top{
  display: flex;
  justify-content: space-between;
}

.style_flavor_contents{
  display: flex;
  font-size: 11px;
  padding-right: 9px;
  margin-top: 6px;
  color: white;
}

.style_flavor_taste{
  margin-right: 9px;
  background: grey;
  border-radius: 4px;
}

.style_flavor_category{
  background: grey;
  border-radius: 4px;
}

.style_flavor_name{
  color: #3a3a3a;
  font-size: 13px;
  font-weight: bold;
}

.style_flavor_discription {
  font-size: 1px;
  height: 38px;
  width: 224px;
  margin: 5px 2px 4px 2px;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 6px;
}

.contents_style_ul {
  margin: auto;
  max-width: 347px;
}

.style_text_data{
  font-size: 11px;
  line-height: 16px;
}

.style_data{
  padding: 16px 20px;
}

.style_wrap_more{
  margin: 0px auto 48px;
  padding: 0 27px 0 27px;
  max-width: 375px;
}

.active_limit{
  margin: 33px auto 27px;
  color: grey;
  max-width: 375px;
  text-align: center;
  padding: 0;
}

.style_wrap_more button{
  width: 100%;
  border: 1px solid #EE82EE;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #EE82EE;
  background: #fff;
}

.active_limit button {
  opacity: 0;
  pointer-events: none;

}

.style_wrap_more div{
  opacity: 0;
  pointer-events: none;
}

.active_limit div{
  opacity: 1;
}



.style_wrap_more img{
  margin-left: 6px;
  width: 14px;
  height: auto;
}

.style_subTitle{
  text-align: center;
  min-height: 24px;
  line-height: 24px;
  font-size: 22px;
  padding-bottom: 24px;
}

.style_Linebtn_wrap{
  margin: 30px auto 72px;
  padding: 0 16px;
}
.style_line_content{
  width: 100%;
  max-width: 335px;
  margin: auto;
}
.style_line_btn{
  height: 50px;
  width: 100%;
  background: #00b900;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.style_line_btn img{
  width: 33px;
  height: 32px;
  margin-right: 8px;
}

.style_line_btn span{
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.style_logo_text{
  color: #7d8b93;
  text-align: center;
  font-size: 15px;
  margin-top: 16px;
}

// 絞り込みクリック時に表示
.style_modalMenu_wrapper.style_modal_disable{
  opacity: 0;
  pointer-events: none;
}

.style_modalMenu_wrapper{
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  transition: opacity .3s ease-in-out;
  z-index: 1000;
}

.style_modalMenu_bg{
  width: 100%;
  height: 38px;
  background: #111e26;
  opacity: .3;
}
.style_modal_content{
  background: #fff;
}

.style_modal_mainwapper{
  height: calc(100vh - 75px);
  margin: auto;
  width: 375px;
  box-sizing: border-box;
  padding-top: 96px;
  overflow-y: scroll;
}

.style_main_choices{
  padding: 0 20px 14px;
}

.style_main_inputkeyword{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.style_inputkeyword_wrap{
  margin: auto auto 20px;
}
.style_inputkeyword_text{
  height: 56px;
  width: 99%;
  border: 1px solid #ebedee;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  padding: 0 16px;
}

.style_main_list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 335px;
  margin: auto auto 35px;
}

.style_main_list__type{
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 335px;
  margin: auto auto 35px 0;
}

.style_main_inputTitle {
  font-weight: bold;
}

.style_checkbox_teste{
  display: none;
}
.style_checkbox_type{
  display: none;
}

.style_label_teste{
  background: #f8f9f9;
  border-radius: 6px;
  padding: 14px 0px 20px 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
  transition: border .25s,background-color .25s;
}
.style_label_type{
  background: #f8f9f9;
  border-radius: 6px;
  padding: 15px 11px 20px 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid transparent;
  transition: border 0.25s, background-color 0.25s;
}


.style_checkbox_teste:checked+.style_label_teste {
  color: #111e26;
  background: #f2faff;
  border-color: #0484d1;
}
.style_checkbox_type:checked+.style_label_type {
  color: #111e26;
  background: #f2faff;
  border-color: #0484d1;
}


.style_label_teste::before{
  content: "";
  position: absolute;
  top: 13px;
  bottom: 0;
  left: 6px;
  width: 24px;
  height: 24px;
  border-radius: 6px;
  background: none;
  margin: auto;
  border: 1px solid #dde1e3;
  transition: all 0.2s ease-in-out;
}
.style_label_type::before{
  content: "";
  position: absolute;
  top: 13px;
  bottom: 0;
  left: 18px;
  width: 24px;
  height: 24px;
  border-radius: 6px;
  background: none;
  margin: auto;
  border: 1px solid #dde1e3;
  transition: all 0.2s ease-in-out;
}

.style_checkbox_teste+.style_label_teste:after{
  content: "";
  position: absolute;
  top: 0;
  left: 12px;
  bottom: -8px;
  margin: auto;
  transform: rotate(-45deg);
  width: 12px;
  height: 6px;
  border-color: #0584d2;
  border-style: solid;
  border-width: 0 0 2px 2px;
  background: transparent;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.style_checkbox_type+.style_label_type:after{
  content: "";
  position: absolute;
  top: 0;
  left: 24px;
  bottom: -12px;
  margin: auto;
  transform: rotate(-45deg);
  width: 12px;
  height: 6px;
  border-color: #0584d2;
  border-style: solid;
  border-width: 0 0 2px 2px;
  background: transparent;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.style_checkbox_teste:checked+.style_label_teste:after{
  opacity: 1;
}
.style_checkbox_type:checked+.style_label_type:after{
  opacity: 1;
}



.style_label_teste input:checked + .style_label_teste{
  display: block;
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  left: 23px;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #0484d1;
}
.style_label_type input:checked + .style_label_type{
  display: block;
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  left: 23px;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #0484d1;
}

.style_main_modalFooter{
  margin: auto;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 -2px 4px rgba(0,0,0,.06);
}

.style_modal_result{
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #bdc4c8;
  margin-right: 27px;
}


.style_main_modalFooter > button{
  width: 216px;
  height: 48px;
  flex: 0 0 216px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebedee;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  transition: background-color .3s ease-in-out;
  pointer-events: none;
}

.style_able_btn .style_modal_btn{
  background: rgb(238, 130, 238);
  pointer-events: auto;
}

.style_modal_headerwapper{
  position: fixed;
  max-width: 375px;
  background: #fff;
  top: 38px;
  left: 0;
  right: 0;
  margin: auto;
  height: 64px;
  box-shadow: 0 2px 4px rgba(0,0,0,.06);
  line-height: 64px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.style_modal_header_close{
  box-sizing: border-box;
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 8px;
  right: 19px;
  top: 19px;
  display: block;
  background: white;
}

.style_modal_header_close img{
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}


// SearchFlavor_active_modal
.style_main_listItem {
  width: 105px;
  height: 42px;
  flex: 0 0 105px;
  position: relative;
}
.style_main_listItem__type {
  width: 105px;
  height: 42px;
  flex: 0 0 156px;
  position: relative;
}

// CheckBox（category）
.style_main_input__category{
  margin: auto auto 40px;
}

.style_category_wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 347px;
  margin: auto auto 21px;
}

.style_cate_listItem{
  flex: 0 0 162px;
  margin-bottom: 8px;
  width: 162px;
  height: 80px;
  margin-right: 6px;
}

.style_checkbox_category{
  display: none;
}

.style_label_category{
  width: 162px;
  height: 80px;
  border: 1px solid #ebedee;
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #7d8b93;
  transition: all .3s;
}

.style_checkbox_category:checked+label{
  color: #111e26;
  background: #f2faff;
  border-color: #0484d1;
}


// footer
.footer_contents_wraper{
  height: 235px;
  text-align: center;
  padding-top: 1px;
}
.footer_wave{
  height: 40px;
  width: 99%;
  position: relative;
  bottom: -1px;
}

.footer_contents_main{
  background: #3a3a3a;
  height: 201px;
  padding-top: 1px;
}
.footer_contents_logo{
  padding-top: 48px;
  width: 99%;
  height: auto;
  text-align: center;
  font-size: 1.7rem;
  color: white;
}

.footer_contents_main small{
  color: #fff;
  margin-top: 53px;
  font-size: 12px;
  display: block;
  height: 12px;
  line-height: 12px;
}

//アクティブなメニューバー（開始）
.header_floatMenu_usual{
  top: 65px;
  height: 100%;
  width: 100%;
  position: fixed;
  background: #fff;
  transition: opacity .3s;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
  background: #3a3a3a;
  color: #fff;
}

.header_floatMenu_usual.header_floatMenu_active{
  pointer-events: auto;
  opacity: 1;
}

.header_floatMenu_wraper{
  max-width: 375px;
  padding: 32px;
  margin: auto;
}
.header_floatMenu_usual li{
  font-size: 22px;
  line-height: 26px;
  padding: 16px 0;
}
.header_floatMenu_wraper a{
  color: #fff;
}

.header_floatMenu_usual li div{
  width: 48px;
  height: 0;
  border-top: 2px solid #fff;
}


//アクティブなメニューバー（終了） 


// Flavorlist
.flavor_list_main {
  width: 100%;
  display: block;
  margin-top: 6px;
  border: 1px solid white;
}

.category_title {
  font-size: 16px;
  width: 77px;
  padding: 0px 0px 0px 3px;
  background: #cfd2cf;
}

.flavor_category_lists {
  margin: 7px 7px;
  flex-wrap: wrap;
  column-count: 2;
}

.flavor_category_lists li{
  width: 101px;
  height: 22px;
  margin: 2px 10px;
}

.flavor_category_content {
  margin: 30px auto 17px auto;
  width: 95%;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(100,100,100,0.2);
}

.flavor_category_lists span {
  font-size: 9px;
  color: #797977;
  padding: 2px 0px;
}

// Flavor
.flavor_main_wrapper{
  padding-left: 16px;
  padding-right: 16px;
}

.link_list{
  padding: 10px 0;
  list-style: none;
  overflow: auto;
  white-space: nowrap;
  font-size: 12px;
}

.link_list li{
  display: inline-block;
  line-height: 20px;
}


.link_list li a{
  opacity: .5;
}

.link_list li:not(:first-child):before {
  content: "|";
  padding: 0 5px;
  opacity: .5;
}

.content_flavor_imgwapper{
  position: relative;
  width: 343px;
  height: 197px;
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.content_flavor_img {
  position: relative;
  margin: auto;
  display: block;
}

.content_flavor_img img{
  width: 119px;
  margin: auto;
  display: block;
  height: 119px;
  object-fit: contain;
}

.content_flavor_name {
  text-align: center;
  margin-top: 17px;
  font-size: 34px;
}

.content_detail_wapper {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 100%;
  padding-left: 6px;
  padding-right: 6px;
  width: auto;
}

.content_detail_box{
  max-width: 500px;
  margin: 0 auto;
  padding-top: 30px;
}

.content_detail_name{
  font-size: 12px;
  margin-bottom: 10px;
}

.content_detail_description{
  margin: 0 auto 20px;
}

.content_detail_description h3{
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  line-height: 1.7;
}

.content_detail_description h3 span{
  background: #cfd2cf;
}

.content_detail_description p{
  letter-spacing: .5px;
  line-height: 1.8;
  font-size: 0.72308em;
  color: #797977;
}

.content_chart{
  margin-top: 30px;  
}

.content_chart table{
  width: 100%;
  border: solid #b3b3b3 1px;
  border-spacing: 0; 
}

.content_chart tbody{
  border-spacing: 0;
}

.content_chart table tr:first-child td {
  border-top: none;
}

.content_chart table tr:first-child th, 
.content_chart table tr:first-child td {
  border-top: none;
}

.content_chart table th{
  width: 20%;
  background: #f2f2f2;
}

.content_chart table th{
  border-top: solid #b3b3b3 1px;
  text-align: left;
  font-weight: normal;
  font-size: 0.8rem;
  padding: 1px 4px;
}

.content_chart table td{
  border-top: solid #b3b3b3 1px;
  text-align: left;
  font-weight: normal;
  font-size: 0.8rem;
}

.content_chart table td{
  display: flex;
  justify-content: space-around;
}

.content_chart table div{
  display: block;
  padding: 11px 29px;
  border-right: 1px solid #b3b3b3;
}

.content_chart table div:nth-child(3){
  display: block;
  padding: 11px 38px;
  border-right: none;
}

.content_chart table div span{
  font-size: 10px;
  display: block;
}

.content_chart_type td div:nth-child(2){
  display: block;
  padding: 11px 46px;
  border-right: none;
}
.content_chart_type td div{
  display: block;
  padding: 11px 54px;
  border-right: 1px solid #b3b3b3;
}

.recommend_flavor{
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid rgba(100,100,100,0.2);
}

.recommend_title {
  font-size: 16px;
  margin-bottom: 10px;
}

.recommend_flavor_box{
  margin: 10px 0 34px 0;
  display: flex;
  flex-wrap: wrap;
}

.recommend_flavor_box ul{
  display: flex;
  flex-wrap: wrap;
}

.recommend_flavor_box li{
  background: rgba(0,0,0,0.1);
  border-color: #797977;
  color: #797977;
  width: 30%;
  margin: 9px 6px 0 5px;
}

.recommend_flavor_box li span{
  font-size: 10px;
}


//Magazines
.magazin_intro_wraper {
  margin: 2px 4px 2px 4px;
  word-break: break-all;
}

.magazine_contents h2 {
  text-align: center;
  font-size: 24px;
  margin-top: 17px;
  margin-bottom: 18px;
}

.magazin_content {
  display: flex;
  margin: 9px auto 0px auto;
  width: 90%;
  border-bottom: 1px grey solid;
  padding: 0 4px 7px 4px;
}

.magazines_img {
  width: 45%;
  height: 100px;
  margin: 10px 0px 0px 8px;
}

.magazines_img img {
  width: 118px;
  height: 86px;
  border: solid 1px #3a3a3a;
  border-radius: 10px;
  object-fit: contain;
}

.magazin_title {
  font-size: 20px;
  color: #3a3a3a;
}
.magazin_description {
  color: #3a3a3a;
  font-size: 14px;
  margin-top: 4px;
  width: 99%;
  height: 43px;
}
.magazin_created_at {
  font-size: 9px;
  color: #3a3a3a;
}


// Roulette
.roulette_titile {
  margin-top: 61px;
  text-align: center;
}

.select_feeling {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.style_roulette_testeItme {
  flex: 0 0 80px;
  margin: 0 1px 0 10px;
}

.style_roulette_teste{
  display: none;
}

.style_roulette_teste+.style_roulette_label{
  display: block;
  box-sizing: border-box;
  border-radius: 44px;
  height: 88px;
  width: 88px;
  border: 1px solid #dde1e3;
  transition: all .3s ease-in-out;
  position: relative;
}

.style_roulette_teste:checked+.style_roulette_label{
  background: #f2faff;
  border-color: #0484d1;
}

.style_roulette_label_name {
  position: absolute;
  top: 28px;
  left: 17px;
}

.style_roulette_start{
  display: block;
  margin: 0 auto;
  width: 107px;
  height: 44px;
  text-align: center;
  margin-top: 23px;
}

.style_roulette_start_btn {
  background: white;
  font-weight: bold;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 1px solid #0484d1;
  transition: all .3s ease-in-out;
}

// Roulette(end)

//Glaboal Animation
#logo_loader {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 101;
      background-color: #3a3a3a;
}
#none_logo_loader{
  display: none;
}
#logo_loader .f_logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 160px;
    height: 50px;
    text-align: center;
    color: #fff;
    font-size: 30px;
}
#logo_loader .f_logo img {
    width: 100%;
    height: auto;
}
#logo_loader .f_logo:before {
      content: "";
      display: block;
      width: 100%;
      height: 164%;
      background-color: #3a3a3a;
      position: absolute;
      top: 0;
      left: 100%;
      animation: loadLogo 1.5s;
}
@keyframes loadLogo {
    0% {
      left: 0;
    }
    50% {
      left: 0;
    }
    100% {
      left: 100%;
    }
}
#logo_loader.open {
      animation-name: slideOut;
      animation-fill-mode: forwards;
      animation-duration: 1.7s;
      animation-delay: 1.7s;
  }
@keyframes slideOut {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
  

//brand
.brand_list_main {
  width: 100%;
  display: block;
  margin-top: 3px;
  border: 1px solid white;
}

.brand_title {
  font-size: 14px;
  width: 114px;
  padding: 0px 7px 0px 5px;
  background: #cfd2cf;
  margin-bottom: 7px;
}

.flavor_brand_lists span {
  font-size: 8px;
  color: #797977;
  padding: 5px 2px;
}

ul.flavor_brand_lists {
  column-count: 2;
}