@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
}

div {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  border-style: none;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/* ====================== */
/* 【スマホ画面用】 */
html {
  width: 100%;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.home-wrap {
  max-width: 375px;
  margin: auto;
  position: relative;
}

.home-header {
  height: 25px;
  padding: 20px;
  font-size: 23px;
  background: white;
  transition: background 0.3s;
}

.home-header.home-header-active {
  background: #008de3;
  transition: background 0.3s;
}

.home-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
}

.home-header-logo {
  text-align: left;
}

.home-header-logo span {
  width: 132px;
  height: 25px;
  color: black;
}

.home-header-active span {
  color: white;
  transition: color 0.3s;
}

.home-header-menuTrigger {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 16px;
}

.home-header button {
  background: white;
  transition: background 0.3s;
}

.home-header-active button {
  background: #008de3;
  transition: background 0.3s;
  color: white;
}

.home-header.home-header-active {
  background: #008de3;
  transition: background 0.3s;
}

.home-header-menuTrigger div {
  width: 16px;
  position: relative;
  margin-left: 24px;
}

.home-main {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  justify-content: space-between;
  margin: 148px auto 0 auto;
}

.home-btn {
  width: 120px;
  height: 120px;
  background: white;
  border: solid grey 1px;
  border-radius: 17px;
  margin: 0 0 3px 0;
  font-size: 18px;
}

.home-btn p {
  font-size: 13px;
}

.header_contents_wrapper {
  display: flex;
}

header.contents_header {
  height: 72px;
  position: relative;
  top: 0;
  padding-top: 24px;
  box-sizing: border-box;
  transition: all 0.3s;
  width: 100%;
}

.contents_title span {
  font-family: "Josefin Sans";
  display: block;
  font-size: 18px;
  padding: 8px;
  margin: 0px 0px 0px 9px;
  max-width: calc(100% - 12px);
  background: #a8dee6;
  color: #111111;
}

h1.contents_title {
  line-height: 23px;
  height: 23px;
  text-align: left;
  padding-left: 20px;
}

.contents_headerbtn {
  position: absolute;
  top: 21px;
  right: 20px;
  width: 16px;
  height: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
  border: none;
  font-size: 30px;
  background: #fff;
}

.style_wrap_intro {
  padding: 31px 20px 0;
  margin: auto auto 24px;
  max-width: 375px;
}

.style_topImage {
  text-align: center;
  margin-bottom: 8px;
}

.style_topImage img {
  width: 60px;
  height: 60px;
}

.style_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 16px;
}

.style_description {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
}

.style_description span {
  color: #0584d2;
  font-weight: 700;
}

.style_wrap_search {
  margin: auto auto 15px;
  border-bottom: 1px solid #ebedee;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
}

.search_btn_filter {
  border-color: #0584d2;
  margin: auto;
  background: #fff;
}

.search_btn_wrap {
  padding: 20px 20px 0;
  max-width: 375px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto auto 12px;
}

.search_btn_how, .search_btn_filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
  border: 1px solid #7d8b93;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 9px;
  padding: 16px 0;
}

.search_btn_how img, .search_btn_filter img {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  content: "\25CF";
}

.search_btn_how span, .search_btn_filter span {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #7d8b93;
}

.search_btn_filter span {
  color: #0584d2;
}

.search_btn_filter {
  border-color: #0584d2;
  margin: auto;
}

.style_count {
  padding: 0 20px 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #bdc4c8;
  max-width: 375px;
  margin: auto;
}

.ul_count {
  margin: 0;
  padding: 0;
  list-style: none;
}

.style_wraper_content {
  margin-bottom: 15px;
  max-width: 375px;
}

.content_main {
  display: flex;
  border: 1px solid #ebedee;
  box-sizing: border-box;
  border-radius: 7px;
  height: 82px;
  overflow: hidden;
}

.style_img {
  height: 100%;
  width: 23%;
  position: relative;
}

.style_img img {
  margin: 17px 0 0 18px;
  width: 46px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 46px;
  -o-object-position: center 21%;
     object-position: center 21%;
}

.style_img_textwrap {
  width: 100%;
  height: 88px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(17, 30, 38, 0), rgba(17, 30, 38, 0.6) 237%);
}

.style_img_text {
  position: absolute;
  color: #f8f9f9;
  left: 20px;
  bottom: 8px;
}

.style_flavor_text {
  width: 70%;
  margin: 4px 4px 4px 4px;
}

.style_flavor_top {
  display: flex;
  justify-content: space-between;
}

.style_flavor_contents {
  display: flex;
  font-size: 11px;
  padding-right: 9px;
  margin-top: 6px;
  color: white;
}

.style_flavor_taste {
  margin-right: 9px;
  background: grey;
  border-radius: 4px;
}

.style_flavor_category {
  background: grey;
  border-radius: 4px;
}

.style_flavor_name {
  color: black;
}

.style_flavor_discription {
  font-size: 1px;
  height: 46px;
  margin: 5px 2px 4px 2px;
}

.contents_style_ul {
  margin: auto;
  max-width: 347px;
}

.style_text_data {
  font-size: 11px;
  line-height: 16px;
}

.style_data {
  padding: 16px 20px;
}

.style_wrap_more {
  margin: 12px auto 48px;
  padding: 20px;
  max-width: 375px;
}

.active_limit {
  margin: 33px auto 27px;
  color: grey;
  max-width: 375px;
  text-align: center;
  padding: 0;
}

.style_wrap_more button {
  width: 100%;
  border: 1px solid #0584d2;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #0584d2;
  background: #fff;
}

.active_limit button {
  opacity: 0;
  pointer-events: none;
}

.style_wrap_more div {
  opacity: 0;
  pointer-events: none;
}

.active_limit div {
  opacity: 1;
}

.style_wrap_more img {
  margin-left: 6px;
  width: 10px;
  height: auto;
}

.style_subTitle {
  text-align: center;
  min-height: 24px;
  line-height: 24px;
  font-size: 22px;
  padding-bottom: 24px;
}

.style_Linebtn_wrap {
  margin: 30px auto 72px;
  padding: 0 16px;
}

.style_line_content {
  width: 100%;
  max-width: 335px;
  margin: auto;
}

.style_line_btn {
  height: 50px;
  width: 100%;
  background: #00b900;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.style_line_btn img {
  width: 33px;
  height: 32px;
  margin-right: 8px;
}

.style_line_btn span {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.style_logo_text {
  color: #7d8b93;
  text-align: center;
  font-size: 15px;
  margin-top: 16px;
}

.style_modalMenu_wrapper.style_modal_disable {
  opacity: 0;
  pointer-events: none;
}

.style_modalMenu_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
  z-index: 1000;
}

.style_modalMenu_bg {
  width: 100%;
  height: 38px;
  background: #111e26;
  opacity: 0.3;
}

.style_modal_content {
  background: #fff;
}

.style_modal_mainwapper {
  height: calc(100vh - 75px);
  margin: auto;
  width: 375px;
  box-sizing: border-box;
  padding-top: 96px;
  overflow-y: scroll;
}

.style_main_choices {
  padding: 0 20px 14px;
}

.style_main_inputkeyword {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.style_inputkeyword_wrap {
  margin: auto auto 20px;
}

.style_inputkeyword_text {
  height: 56px;
  width: 99%;
  border: 1px solid #ebedee;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  padding: 0 16px;
}

.style_main_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 335px;
  margin: auto auto 35px;
}

.style_main_list__type {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 335px;
  margin: auto auto 35px 0;
}

.style_main_inputTitle {
  font-weight: bold;
}

.style_checkbox_teste {
  display: none;
}

.style_checkbox_type {
  display: none;
}

.style_label_teste {
  background: #f8f9f9;
  border-radius: 6px;
  padding: 14px 0px 20px 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
  transition: border 0.25s, background-color 0.25s;
}

.style_label_type {
  background: #f8f9f9;
  border-radius: 6px;
  padding: 15px 11px 20px 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid transparent;
  transition: border 0.25s, background-color 0.25s;
}

.style_checkbox_teste:checked + .style_label_teste {
  color: #111e26;
  background: #f2faff;
  border-color: #0484d1;
}

.style_checkbox_type:checked + .style_label_type {
  color: #111e26;
  background: #f2faff;
  border-color: #0484d1;
}

.style_label_teste::before {
  content: "";
  position: absolute;
  top: 13px;
  bottom: 0;
  left: 6px;
  width: 24px;
  height: 24px;
  border-radius: 6px;
  background: none;
  margin: auto;
  border: 1px solid #dde1e3;
  transition: all 0.2s ease-in-out;
}

.style_label_type::before {
  content: "";
  position: absolute;
  top: 13px;
  bottom: 0;
  left: 18px;
  width: 24px;
  height: 24px;
  border-radius: 6px;
  background: none;
  margin: auto;
  border: 1px solid #dde1e3;
  transition: all 0.2s ease-in-out;
}

.style_checkbox_teste + .style_label_teste:after {
  content: "";
  position: absolute;
  top: 0;
  left: 12px;
  bottom: -8px;
  margin: auto;
  transform: rotate(-45deg);
  width: 12px;
  height: 6px;
  border-color: #0584d2;
  border-style: solid;
  border-width: 0 0 2px 2px;
  background: transparent;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.style_checkbox_type + .style_label_type:after {
  content: "";
  position: absolute;
  top: 0;
  left: 24px;
  bottom: -12px;
  margin: auto;
  transform: rotate(-45deg);
  width: 12px;
  height: 6px;
  border-color: #0584d2;
  border-style: solid;
  border-width: 0 0 2px 2px;
  background: transparent;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.style_checkbox_teste:checked + .style_label_teste:after {
  opacity: 1;
}

.style_checkbox_type:checked + .style_label_type:after {
  opacity: 1;
}

.style_label_teste input:checked + .style_label_teste {
  display: block;
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  left: 23px;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #0484d1;
}

.style_label_type input:checked + .style_label_type {
  display: block;
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  left: 23px;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #0484d1;
}

.style_main_modalFooter {
  margin: auto;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.06);
}

.style_modal_result {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #bdc4c8;
  margin-right: 27px;
}

.style_main_modalFooter > button {
  width: 216px;
  height: 48px;
  flex: 0 0 216px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebedee;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  pointer-events: none;
}

.style_able_btn .style_modal_btn {
  background: #0584d2;
  pointer-events: auto;
}

.style_modal_headerwapper {
  position: fixed;
  max-width: 375px;
  background: #fff;
  top: 38px;
  left: 0;
  right: 0;
  margin: auto;
  height: 64px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  line-height: 64px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.style_modal_header_close {
  box-sizing: border-box;
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 8px;
  right: 19px;
  top: 19px;
  display: block;
  background: white;
}

.style_modal_header_close img {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.style_main_listItem {
  width: 105px;
  height: 42px;
  flex: 0 0 105px;
  position: relative;
}

.style_main_listItem__type {
  width: 105px;
  height: 42px;
  flex: 0 0 156px;
  position: relative;
}

.style_main_input__category {
  margin: auto auto 40px;
}

.style_category_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 347px;
  margin: auto auto 21px;
}

.style_cate_listItem {
  flex: 0 0 162px;
  margin-bottom: 8px;
  width: 162px;
  height: 80px;
  margin-right: 6px;
}

.style_checkbox_category {
  display: none;
}

.style_label_category {
  width: 162px;
  height: 80px;
  border: 1px solid #ebedee;
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #7d8b93;
  transition: all 0.3s;
}

.style_checkbox_category:checked + label {
  color: #111e26;
  background: #f2faff;
  border-color: #0484d1;
}

.footer_contents_wraper {
  height: 235px;
  text-align: center;
  padding-top: 1px;
}

.footer_wave {
  height: 40px;
  width: 99%;
  position: relative;
  bottom: -1px;
}

.footer_contents_main {
  background: #5d6e78;
  height: 201px;
  padding-top: 1px;
}

.footer_contents_logo {
  padding-top: 48px;
  width: 99%;
  height: auto;
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 1.7rem;
  color: white;
}

.footer_contents_main small {
  color: #fff;
  margin-top: 53px;
  font-size: 12px;
  display: block;
  height: 12px;
  line-height: 12px;
}

.header_floatMenu_usual {
  top: 65px;
  height: 100%;
  width: 99%;
  position: fixed;
  background: #fff;
  transition: opacity 0.3s;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
  background: #008de3;
  color: #fff;
}

.header_floatMenu_usual.header_floatMenu_active {
  pointer-events: auto;
  opacity: 1;
}

.header_floatMenu_wraper {
  max-width: 375px;
  padding: 32px;
  margin: auto;
}

.header_floatMenu_usual li {
  font-size: 22px;
  line-height: 26px;
  padding: 16px 0;
}

.header_floatMenu_wraper a {
  color: #fff;
}

.header_floatMenu_usual li div {
  width: 48px;
  height: 0;
  border-top: 2px solid #fff;
}

.flavor_category_contents {
  margin-top: 30px;
}

.category_title {
  font-size: 16px;
  border-bottom: solid 1px red;
  width: 90px;
}

.flavor_category_lists {
  margin: 4px 0 10px 12px;
}

.flavor_category_content {
  margin: 0px auto 17px auto;
  width: 95%;
}

.flavor_category_lists span {
  font-size: 14px;
}

.content_flavor_img {
  width: 99px;
  height: 100px;
  margin: 7px auto 0 auto;
}

.content_flavor_name {
  text-align: center;
  margin-top: 17px;
  font-size: 34px;
}

.content_flavor_detail {
  margin: 5px 13px 0px 13px;
  padding: 8px 4px 7px 4px;
  border: solid 1px blue;
  border-radius: 8px;
}

.content_flavor_feature h2 {
  font-size: 17px;
  border-bottom: 1px solid red;
  width: 41px;
}

.content_flavor_feature p {
  word-break: break-all;
  margin: 6px;
  font-size: 13px;
}

.content_flavor_tags h2 {
  font-size: 17px;
  border-bottom: 1px solid red;
  width: 41px;
}

.content_flavor_tags {
  margin-top: 20px;
}

.content_flavor_tag {
  width: 88px;
  height: 23px;
  background: grey;
  margin: 8px;
  border-radius: 4px;
}

.content_flavor_combination {
  margin-top: 25px;
}

.content_flavor_combination h2 {
  font-size: 17px;
  border-bottom: 1px solid red;
  width: 176px;
}

.content_flavor_combination li {
  margin: 6px 1px 7px 4px;
}

.content_flavor_combination span {
  font-size: 15px;
  margin: 15px 5px 7px 9px;
}

.magazin_intro_wraper {
  margin: 2px 4px 2px 4px;
  word-break: break-all;
}

.magazine_contents h2 {
  text-align: center;
  font-size: 24px;
  margin-top: 17px;
  margin-bottom: 18px;
}

.magazin_content {
  display: flex;
  margin: 9px auto 0px auto;
  width: 90%;
  border-bottom: 1px grey solid;
  padding: 0 4px 7px 4px;
}

.magazines_img {
  width: 45%;
  height: 100px;
  margin: 10px 0px 0px 8px;
}

.magazines_img img {
  width: 118px;
  height: 86px;
  border: solid 1px black;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

.magazin_title {
  font-size: 20px;
  color: black;
}

.magazin_description {
  color: black;
  font-size: 14px;
  margin-top: 4px;
  width: 99%;
  height: 43px;
}

.magazin_created_at {
  font-size: 9px;
  color: black;
}

.roulette_titile {
  margin-top: 61px;
  text-align: center;
}

.select_feeling {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.style_roulette_testeItme {
  flex: 0 0 80px;
  margin: 0 1px 0 10px;
}

.style_roulette_teste {
  display: none;
}

.style_roulette_teste + .style_roulette_label {
  display: block;
  box-sizing: border-box;
  border-radius: 44px;
  height: 88px;
  width: 88px;
  border: 1px solid #dde1e3;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.style_roulette_teste:checked + .style_roulette_label {
  background: #f2faff;
  border-color: #0484d1;
}

.style_roulette_label_name {
  position: absolute;
  top: 28px;
  left: 17px;
}

.style_roulette_start {
  display: block;
  margin: 0 auto;
  width: 107px;
  height: 44px;
  text-align: center;
  margin-top: 23px;
}

.style_roulette_start_btn {
  background: white;
  font-weight: bold;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 1px solid #0484d1;
  transition: all 0.3s ease-in-out;
}